#locallySourcedFood{
    width: inherit;
    height: 720px;
    display: inline-flex;
    margin-top: 31px;
    background: url('../../../../img/pattern-curve-top-left.svg') 100% 100%/895px no-repeat;
    z-index: 1;
}

#lsf-content{
    width: 445px;
    height: 275px;
    margin: 231px 125px 0px 165px;
    color: var(--EbonyClay);
    background: url('../../../../img/pattern-divide.svg' ) 0% 0%/71px no-repeat;
}

#lsf-content h2{
    padding-right: 40px;
    margin: 62px 0px 27px 0px;
}

#lsf-Pic{
    width: 654px;
    height: 720px;
    margin-top: 90px;
    background: url('./img/locally-sourced-desktop.jpg') left/540px no-repeat;
}

#lsf-Pic div{
    width: 160px;
    height: 76px;
    margin-top: 282px;
    float:right;
    background: url('../../../../img/pattern-lines.svg') center/160px no-repeat;
}