footer{
    width: inherit;
    height: 480px;
    display: flex;
    flex-direction: column;
    color:white;
}

#footerTop{
    width: inherit;
    height: 240px;
    padding: 99px 165px 0px;
    display:inline-flex;
    justify-content: space-between;
    background: url('./img/ready-bg-desktop.jpg') center/1440px no-repeat;
}

#footerTop button{
    width: 245px;
}

#footerBottom{
    width: inherit;
    height: 240px;
    padding: 78px 0px 0px 461px;
    display:inline-flex;
    background: var(--CodGrey) url('../../../../img/logo.svg') 165px 78px/103px no-repeat;
    font: 400 16px/26px 'LeagueSpartan-Regular';
    letter-spacing: 2px;
}

#footerBottom > div{
    height: 84px;
    display: flex;
    flex-direction: column;
}

#footerBottom > div:first-child{
    width: 244px;
    margin-right: 124px;
}