#homeHeader{
    width: inherit;
    height: 820px;
    background: url('./img/bg-desktop.jpg') right/1440px no-repeat;
}

#homeHeader div{
    width: 545px;
    height: inherit;
    display: flex;
    padding: 258px 0px 0px 165px;
    flex-direction: column;
    background: var(--CodGrey) url(../../../../img/logo.svg) 167px 65px/103px no-repeat;
    color:white;
}

#homeHeader h1{
    width: 508px;
    height: 160px;
}

#homeHeader p{
    width: 445px;
    height: 90px;
    margin: 10px 0px 40px;
}

#homeHeader button{
    width: 245px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeHeader{
        width: inherit;
        height: 992px;
        display: inline-flex;
        justify-content: center;
        background: var(--CodGrey) url('./img/bg-tablet.jpg') top/804px no-repeat;
    }
    
    #homeHeader div{
        width: 100vw;
        padding: 452px 0px 0px;
        align-items: center;
        background: transparent url(../../../../img/logo.svg) 50% 374px/103px no-repeat;
        color:white;
        text-align: center;
    }
    
    #homeHeader h1{
        width: 327px;
        height: 128px;
    }
    
    #homeHeader p{
        width: 573px;
        height: 60px;
        margin: 20px 0px 52px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeHeader{
        height: 748px;
        background: var(--CodGrey) url('./img/bg-mobile.jpg') top/375px no-repeat;
    }
    
    #homeHeader div{
        width: inherit;
        height: inherit;
        padding: 300px 0px 0px;
        align-items: center;
        background: url(../../../../img/logo.svg) 50% 232px/82px no-repeat;
        text-align: center;
    }
    
    #homeHeader h1{
        width: 260px;
        height: 80px;
    }
    
    #homeHeader p{
        width: 327px;
        height: 78px;
        margin: 21px 0px 53px;
    }
}