.slideText{
    width: 445px;
    height: auto;
    display: flex;
    flex-direction: column;
    top: 70px;
    position: absolute;
    color: var(--EbonyClay);
    transition: opacity 0.5s ease;
}

.slideText h2{
    margin-bottom: 19px;
}