.slideText{
    width: 445px;
    height: auto;
    display: flex;
    flex-direction: column;
    top: 70px;
    position: absolute;
    color: var(--EbonyClay);
    transition: opacity 0.5s ease;
}

.slideText h2{
    margin-bottom: 19px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .slideText{
        width: 457px;
        top: 70px;
        text-align: center;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {}