#footerDetails{
    width: inherit;
    height: 240px;
    padding: 78px 0px 0px 461px;
    display:inline-flex;
    background: var(--CodGrey) url('../../../img/logo.svg') 165px 78px/103px no-repeat;
    font: 400 16px/26px 'LeagueSpartan-Regular';
    letter-spacing: 2px;
    color:white;
}

#footerDetails > div{
    height: 84px;
    display: flex;
    flex-direction: column;
}

#footerDetails > div:first-child{
    width: 244px;
    margin-right: 124px;
}