#slide{
    width: inherit;
    height: 920px;
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url('../../../../img/pattern-curve-bottom-right.svg') -350px 0px/895px no-repeat;
}

#slideImages{
    width: 540px;
    height: 600px;
}

#slide-navigator{
    width: 570px;
    height: 600px;
    padding: 0px 0px 62px 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border: solid 1px red;
}

#slide-navigator button{
    width: 245px;
}