#bookingForm {
    width: 540px;
    min-height: 545px;
    height: auto;
    padding: 16px 48px 0px;
    margin-top: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.formLine {
    width: 100%;
    height: 43px;
    margin-top: 34px;
    color: var(--CodGrey);
    font: 400 20px/28px 'LeagueSpartan-Regular';
}

#nameLine,
#emailLine {
    display: flex;
    flex-direction: column;
}

#nameLine p,
#emailLine p {
    margin: 12px 0px 0px 16px;
}

#dateLine,
#timeLine,
#guestsLine {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#dateLine>div:last-child,
#timeLine>div:last-child {
    width: 289px;
    display: inline-flex;
    justify-content: space-between;
}

.shortInput {
    max-width: 80px;
}

.longInput {
    max-width: 97px;
}

#dayTime{
    user-select: none;
}

#dayTimeBt {
    width: 16px;
    height: 8px;
    position: absolute;
    margin: 7px 257px 0px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
}

.arrowUp{
    background-image: url('./img/arrow-up.svg');
}

.arrowDown{
    background-image: url('./img/arrow-down.svg');
}

#dayTimeselect {
    width: 106px;
    height: 103px;
    padding: 18px 0px 13px 16px;
    margin: 51px 192px 0px;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 15px 25px 0px rgba(56, 66, 85, 0.24);
}

#am-button,#pm-button {
    width: 60px;
    height: 28px;
    padding: 0px 0px 0px 26px;
    text-align: left;
    border: none;
    background-color: transparent;
    font: 400 20px/28px 'LeagueSpartan-Regular';
    color: var(--CodGrey);
}

.checked{
    background: transparent url('./img/icon-check.svg') 0% 8px/10px no-repeat;
}

#guestsLine {
    padding: 0px 30px 0px;
    align-items: flex-start;
    border-bottom: solid 1px var(--CodGrey);
}

.setPeopleBt {
    width: 24px;
    height: 24px;
    border: none;
    transition: opacity 0.3s ease;
}

@media(hover:hover) {
    .setPeopleBt:hover {
        opacity: 50%;
    }
}

#restPeopleBt {
    background: url('./img/icon-minus.svg') transparent center/6px no-repeat;
}

#addPeopleBt {
    background: url('./img/icon-plus.svg') transparent center/9px no-repeat;
}

#bookingForm>button {
    width: 444px;
    margin: 32px 0px 0px;
}

.error {
    font: 500 10px/9px 'LeagueSpartan-Medium';
    letter-spacing: -0.13px;
    color: var(--Red);
}

.valid {
    color: var(--CodGrey);
    border-bottom: solid 1px var(--CodGrey);
}

.valid::placeholder {
    color: rgba(17, 17, 17, 0.5);
}

.invalid {
    color: rgba(181,73,73,0.5);
    border-bottom: solid 1px rgba(181,73,73);
}

.invalid::placeholder {
    color: rgba(181,73,73,0.5);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #bookingForm {
        margin-top: 38px;
    } 
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #bookingForm {
        width: 327px;
        min-height: 585px;
        padding: 0px 32px 32px;
        margin-top: 463px;
    }
 
    #dateLine,
    #timeLine{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #dateLine>div:last-child,
    #timeLine>div:last-child {
        margin-top: 10px;
        width: 263px;
    }
    
    .shortInput {
        max-width: 73px;
    }
    
    .longInput {
        max-width: 88px;
    }
    
    #dayTimeBt {
        margin: 7px 231px 0px;
        
    }
    
    #dayTimeselect {
        margin: 51px 166px 0px;
    }
        
    #guestsLine {
        padding: 0px 19px 0px;
    }
    
    #bookingForm>button {
        width: 263px;
    }
    
}