#bookingForm{
    width: 540px;
    height: auto;
    padding: 50px 48px 48px;
    margin-top: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: solid 1px red; 
}

.formLine{
    width: 100%;
    height: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px red;
}

#bookingForm > button{
    width: 444px;
}