@font-face {
    font-family:'LeagueSpartan-Bold' ;
    src: url('./assets/fonts/LeagueSpartan-Bold.woff')format('woff');
    font-size: 700;
}
@font-face {
    font-family:'LeagueSpartan-SemiBold' ;
    src: url('./assets/fonts/LeagueSpartan-SemiBold.woff')format('woff');
    font-size: 600;
}
@font-face {
    font-family:'LeagueSpartan-Regular' ;
    src: url('./assets/fonts/LeagueSpartan-Regular.woff')format('woff');
    font-size: 400;
}
@font-face {
    font-family:'LeagueSpartan-Light' ;
    src: url('./assets/fonts/LeagueSpartan-Light.woff')format('woff');
    font-size: 300;
}

:root{
    --Beaver: #9e7f66; /*rgb(158, 127, 102) - hsl(27, 22%, 51%)*/
    --CodGrey: #111111; /* rgb(17, 17, 17) - hsl(0, 0%, 7%)*/
    --Mirage: #17192b; /* rgb(23, 25, 43) - hsl(234, 30%, 13%)*/
    --EbonyClay: #242b37; /* rgb(36, 43, 55) - hsl(218, 21%, 18%)*/
    --ShuttleGrey: #5c6779; /* rgb(92, 103, 121) - hsl(217°, 14%, 42%)*/
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}